### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [20]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(file_to_load)
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [38]:
#store total count of unique players in variable
total_players_df = purchase_data_df

Total_Players = len(updated_df["SN"].value_counts())

#add total player count to the table so we can manipulate it
total_players_df["Total Players"] = Total_Players
total_players_df[[Total Players]]

SyntaxError: invalid syntax (<ipython-input-38-f07b0073fad4>, line 8)

In [ ]:
#now that we have total players calculating, we need to show just that number:

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [9]:
#stores the number of unique items as a variable
Num_Unique_Items = purchase_data_df["Item Name"].value_counts()
#Num_Unique_Items.count()

In [10]:
#stores the average price of items as a variable
Average_Item_Price = purchase_data_df["Price"].mean
Average_Item_Price

<bound method Series.mean of 0      3.53
1      1.56
2      4.88
3      3.27
4      1.44
       ...
775    3.54
776    1.63
777    3.46
778    4.19
779    4.60
Name: Price, Length: 780, dtype: float64>

In [11]:
#stores the number of purchases as a variable
Num_Purchases = purchase_data_df['Purchase ID'].value_counts()
Num_Purchases

779    1
243    1
265    1
264    1
263    1
      ..
517    1
516    1
515    1
514    1
0      1
Name: Purchase ID, Length: 780, dtype: int64

In [12]:
#stores the sum of purchases as a variable
Total_Revenue = purchase_data_df['Price'].sum()
Total_Revenue

2379.77

In [13]:
#creates a new summary database that includes the calculations we did above: Number of Unique Items, 
#Average Price, Number of Purchases, and Total Revenue

#first add the columns for the items listed above. then remove unecessary columns.
summary_df = purchase_data_df
summary_df["Number of Unique Items"] = Num_Unique_Items.count()
summary_df

# Converting the membership days into weeks and then adding a column to the DataFrame
#weeks = training_df["Membership (Days)"]/7
#training_df["Membership (Weeks)"] = weeks
#training_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Number of Unique Items
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,179
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,179
2,2,Ithergue48,24,Male,92,Final Critic,4.88,179
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,179
4,4,Iskosia90,23,Male,131,Fury,1.44,179
...,...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54,179
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63,179
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46,179
778,778,Sisur91,7,Male,92,Final Critic,4.19,179
779,779,Ennrian78,24,Male,50,Dawn,4.60,179

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame